<p>Please find your credentials below to sign in to you shoppex account</p>
<p>This is the county code: {{countryCode}}</p>
<p>This is the mobile: {{mobile}}</p>
<p>This is the password: {{password}}</p>
<p>Welcome onboard!</p>